{{> header }}
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Prueba</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum voluptas et praesentium fugit veniam doloribus laboriosam. Veniam, tempora facilis? Deserunt magnam eum similique animi voluptas, veritatis doloribus recusandae nam qui.</p>
            <img src="assets/img/captura.png" class="img-thumbnail">
        </div>
        
        
    </div>

{{> footer}}